.main {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	min-height: 140vh;
	background: url('../../../assets/images/15.png') no-repeat;
	background-size: cover;
	background-position: top center;/*
	background: -webkit-linear-gradient(rgba(70,180,207,1), rgba(70,180,207,0.87));
	overflow: hidden;*/
}

	.main-gears {
		position: relative;
		display: block;
		width: 100%;
		height: 200px;
		z-index: 4;
	}

	.main img.glass {
		position: absolute;
		display: block;
		width: 100%;
		height: 200px;
		top: 0px;
		right: 0px;
		opacity: 0.3;
		z-index: 3;
	}

	.main img.gears {
		position: relative;
		display: block;
		width: 100%;
		height: 200px;
		z-index: 2;
	}

.main-wrap {
	position: relative;
	display: block;
	max-width: 625px;
	width: 100%;
	margin: 0 auto;
	height: 130vh;
	font-size: 0;
	padding: 150px 0;
}


	.main-wrap:before {
		content: '';
		position: absolute;
		display: block;
		width: 250px;
		height: 1px;
		background: rgba(0,0,0,0.06);
		bottom: 0;
		left: 50%;
		margin-left: -125px;
	}

	.main-div {
		position: absolute;
		display: block;
		width: 30%;
		max-width: 300px;
		height: 35vh;
		right: 80px;
		bottom: 0;
	}

		.main-div--inner {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;/*
			border-top: 1px solid rgba(255,255,255,0.12);
			border-bottom: 1px solid rgba(255,255,255,0.12);*/
		}

			.main-title {
				display: block;
				text-align: right;
				line-height: 40px;
				font-family: 'GothamPro-Bold';
				font-size: 10px;
				letter-spacing: 0.02em;
				text-transform: uppercase;
				color: rgba(0,0,0,0.87);
			}

			.main-heading {
				display: block;
				text-align: left;
				padding: 12.5px 0 6.25px;
				line-height: 1.2em;
				text-transform: uppercase;
				font-family: 'GothamPro-Medium';
				letter-spacing: 0.01em;
				font-size: 18.75px;
				color: #fff;
				text-shadow: 0px 1px 1px rgba(0,0,0,0.12);
			}

				.main-heading span {
					display: block;
					font-family: 'GothamPro';
					padding: 12.5px 0 25px;
					font-size: 11.25px;
					text-transform: uppercase;
					line-height: 16.25px;
					color: #fff;
					text-shadow: 0px 1px 1px rgba(0,0,0,0);
				}

			.main-para {
				display: block;
				text-align: right;
				padding: 10px 0;
				line-height: 1.5em;
				font-family: 'GothamPro';
				text-transform: uppercase;
				font-size: 9px;
				color: rgba(0,0,0,0.54);
			}/*

		.main-div--inner:after {
			content: '';
			position: absolute;
			display: block;
			width: 1px;
			height: 95%;
			top: 0;
			right: -15px;
			background: rgba(255,255,255,0.12);
		}*/

			.main-div--inner.last:after {
				display: none;
			}

			.main-div--inner ul {
				padding: 20px 0 0;
			}

			.main-div--inner ul li {
				display: block;
				padding: 3px 0;
				font-family: 'GothamPro';
				letter-spacing: 0.01em;
				font-size: 34px;
				color: rgba(255,255,255,0.7);
			}

				.main-div--inner ul li.active {
					color: rgba(255,255,255,1);
				}

				.main-div--inner ul li.action {
					font-family: 'GothamPro-Medium';
					color: rgba(255,255,255,1);
				}

		.main-header {
			display: block;
			padding: 140px 15px;
			width: 960px;
			margin: 0 auto;
			height: 140px;
			line-height: 27px;
			font-family: 'GothamPro-Medium';
			letter-spacing: 0.01em;
			font-size: 26px;
		}

			.main-header h1 {
				color: #eee;/*
				background: -webkit-linear-gradient(#fff, #eee);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;*/
			}


			.main-header span {
				display: block;
				line-height: 30px;
				font-family: 'GothamPro';
				letter-spacing: 0.02em;
				font-size: 10px;
				text-transform: uppercase;
				color: rgba(255,255,255,0.7);
			}


/* works */

.works {
	position: relative;
	display: block;
	width: 100%;
	min-height: 500px;
	height: auto;
	top: -20px;
	padding-bottom: 50px;
}

	.works-clients {
		position: relative;
		display: block;
		width: 100%;
		height: 400px;
	}

		.works-clients--client {
			position: relative;
			display: block;
			width: 25%;
			height: 80px;
			float: left;
			margin-bottom: 20px;
			padding: 30px 20px;
		}

			.works-clients--client img {
				display: block;
				width: auto;
				height: auto;
				margin: 0 auto;
			}

	.works-inner {
		position: relative;
		display: block;
		width: 1160px;
		margin: 0 auto;
		height: 100%;
		padding: 25px 50px;
	}

	.works-title {
		text-align: center;
		display: block;
		line-height: 20px;
		font-family: 'GothamPro-Medium';
		letter-spacing: 0.02em;
		font-size: 20.25px;
		text-transform: uppercase;
		color: rgba(0,0,0,0.87);
	}

		.works-title span {
			display: block;
			font-family: 'GothamPro';
			letter-spacing: 0.01em;
			font-size: 9px;
			text-transform: uppercase;
			color: rgba(0,0,0,0.38);
		}

/* features */

.features {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	min-height: 200px;
	padding-bottom: 40px;
	top: 0;
	background: #fff;
}

	.features-inner:before {
		content: '';
		position: absolute;
		display: block;
		width: 402px;
		height: 2px;
		background: rgba(0,0,0,0.06);
		bottom: 0;
		left: 50%;
		margin-left: -196.25px;
	}

	.features-inner {
		position: relative;
		display: block;
		width: 1200px;
		margin: 0 auto;
		min-height: 500px;
		padding: 50px 0 25px;
		font-size: 0;
		margin-bottom: 25px;
		transition: 0;
		animation: none;
	}

		.features-titleing {
			display: block;
			line-height: 1.2em;
			font-family: 'GothamPro-Medium' !important;
			font-size: 20.25px;
			text-transform: uppercase;
			color: rgba(0,0,0,0.87);
			text-align: center !important;
		}

		.features-inner div {
			position: relative;
			display: block;
			float: left;
			width: 50%;
			height: 500px;
		}

			.features-image.small {
				padding-left: 125px;
			}


			.features-image.small img {
				display: block;
				margin-top: 50px;
				width: 70%;
				height: auto;
			}

			.features-image img {
				display: block;
				margin-top: -50px;
				width: 130%;
				height: auto;
			}

	.features-text {
		padding: 125px 112.5px 0 50px;
	}

		.features-new {
			position: relative;
			display: block;
			line-height: 23.75px;
			text-align: left;
			padding-left: 87.5px;
			font-family: 'GothamPro';
			font-size: 15px;
			margin-bottom: 31.25px;
			color: rgba(0,0,0,0.87);
		}

			.features-new span {
				position: absolute;
				display: block;
				width: 187.5px;
				left: -125px;
				top: 0;
				line-height: 75px;
				color: #2ed7af;
				font-size: 62.5px;
				font-family: 'GothamPro-Light';
				text-align: right;
			}

		.features-title {
			display: block;
			line-height: 25px;
			text-align: left;
			font-family: 'GothamPro';
			font-size: 20.25px;
			text-transform: uppercase;
			color: rgba(0,0,0,0.87);
		}

			.features-title span {
				display: block;
				font-family: 'GothamPro';
				letter-spacing: 0.01em;
				font-size: 11.25px;
				text-transform: uppercase;
				color: rgba(0,0,0,0.38);
			}

		.features-text p {
			display: block;
			padding-top: 30px;
			padding-right: 40px;
			font-family: 'GothamPro';
			font-size: 13px;
			line-height: 19px;
			color: rgba(0,0,0,0.54);
		}

/* nav */

.features-navigation {
	position: absolute;
	display: block;
	width: 100%;
	height: 62.5px;
	top: 175px;
}

	.features-navigation a {
		position: absolute;
		display: block;
		width: 62.5px;
		height: 62.5px;
		top: 0;
		cursor: pointer;
	}

		.features-navigation a img {
			display: block;
			width: 100%;
			height: auto;
		}

		.features-navigation a.back {
			left: 6.5%;
		}

		.features-navigation a.forward {
			right: 6.5%;
		}

/* prices */

.features-prices {
	position: relative;
	display: block;
	width: 875px;
	height: auto;
	min-height: 400px;
	margin: 0 auto;
}

	.features-prices--div {
		width: 275px;
		height: 100%;
		padding: 40px 0;
		display: block;
		float: left;
	}

		.features-prices--div:nth-of-type(2) {
			margin: 0 20px;
		}

		.features-prices--div span.type {
			position: relative;
			display: block;
			width: 100%;
			height: 50px;
			line-height: 50px;
			font-family: 'GothamPro-Medium';
			text-align: center;
			text-transform: uppercase;
			font-size: 12px;
			color: rgba(0,0,0,0.54);
			border: 1px solid rgba(0,0,0,0.12);
		}

			.price-inner--price:after {
				content: '';
				position: absolute;
				display: block;
				width: 76px;
				height: 1px;
				left: 50%;
				margin-left: -38px;
				background: rgba(0,0,0,0.38);
			}

			.features-prices--div span.type.std {
				color: #fff;
				background: rgba(52,205,157,0.87);
				border: 1px solid rgba(0,0,0,0);
			}

				.price-inner--price.std {
					color: rgba(52,205,157,0.87) !important;
				}

					.price-inner--price.std:after {
						background: rgba(52,205,157,0.87);
					}

				.price-inner--price.bus {
					color: rgba(70,180,207,0.87) !important;
				}

					.price-inner--price.bus:after {
						background: rgba(70,180,207,0.87);
					}

			.features-prices--div span.type.bus {
				color: #fff;
				background: rgba(70,180,207,0.87);
				border: 1px solid rgba(0,0,0,0);
			}

			.price-inner {
				position: relative;
				display: block;
				text-align: center;
				width: 100%;
				height: 380px;
				border-left: 1px solid rgba(0,0,0,0.06);
				border-right: 1px solid rgba(0,0,0,0.06);
				border-bottom: 1px solid rgba(0,0,0,0.06);
			}

				.price-inner a {
					margin-left: -20px;
				}

				.price-inner p {
					font-family: 'GothamPro';
					text-align: center;
					font-size: 11px;
					line-height: 1.5em;
					padding: 5px 15px;
					color: rgba(0,0,0,0.54);
				}

				.price-inner--price {
					position: relative;
					display: block;
					padding: 30px 0;
					line-height: 40px;
					font-family: 'GothamPro-Light';
					text-align: center;
					text-transform: uppercase;
					font-size: 39px;
					color: rgba(0,0,0,0.54);
				}

					.price-inner--price span {
						display: block;
						font-family: 'GothamPro';
						text-transform: uppercase;
						font-size: 10px;
					}
