
.footer {
	position: relative;
	display: block;
	width: 100%;
	height: 400px;
	top: -20px;
	overflow: hidden;
	background: url(../../images/footer.png) no-repeat;
	background-position: 600px 50px;
	background-size: cover;
}

	.footer img {
		position: absolute;
		display: block;
		width: 100%;
		height: auto;
		right: -40%;
		bottom: -160%;
	}


	.footer-inner {
		position: relative;
		display: block;
		width: 960px;
		margin: 0 auto;
		height: 100%;
		padding: 20px 40px;
	}

	.footer-title {
		text-align: center;
		display: block;
		line-height: 25px;
		font-family: 'GothamPro-Medium';
		letter-spacing: 0.02em;
		font-size: 20.25px;
		text-transform: uppercase;
		color: rgba(0,0,0,0.87);
	}

		.footer-inner:before {
			content: '';
			position: absolute;
			display: block;
			width: 321.5px;
			height: 1px;
			background: rgba(0,0,0,0.06);
			top: 0;
			left: 50%;
			margin-left: -156px;
		}

	.footer-try {
		text-align: center;
		display: block;
		line-height: 25px;
		padding: 50px 0 0;
		font-family: 'GothamPro';
		letter-spacing: 0.02em;
		font-size: 20.25px;
		color: rgba(0,0,0,0.54);
	}

		.footer-try span {
			display: block;
		}

		.footer-try a {
			margin-left: -20px;
		}

	footer span {
		position: absolute;
		display: block;
		bottom: 0;
		text-align: left;
		width: 500px;
		left: 50%;
		margin-left: -250px;
		height: 40px;
		font-family: 'GothamPro';
		letter-spacing: 0.02em;
		font-size: 12.5px;
		text-transform: uppercase;
		color: rgba(0,0,0,0.54);
	}

		footer span i {
			display: block;
			height: 20px;
			line-height: 20px;
			color: rgba(70,180,207,0.87);
		}