.nav {
	position: absolute;
	display: block;
	width: 100%;
	height: 60px;
	font-size: 0;/*
	border-bottom: 1px solid #f5f5f5;*/
	z-index: 5;
}

	.nav section {
		position: relative;
		display: block;
		width: 100%;
		max-width: 625px;
		margin: 0 auto;
		height: 100%;
	}

		.nav span.logo {
			position: absolute;
			display: block;
			margin: 0 auto;
			width: 250px;
			padding: 31.25px 0px 0;
			height: 100%;
		}

			.nav span.logo span {
				position: relative;
				display: block;
				float: left;
				color: rgba(255,255,255,1);
				padding: 10px;
				letter-spacing: 0.02em;
				font-family: 'GothamPro-Bold';
				text-transform: uppercase;
				font-size: 12.5px;
			}

			.nav span.logo img {
				position: relative;
				display: block;
				float: left;
				width: 37px;
				height: auto;
			}

		.nav-ul {
			height: 60px;
			padding-top: 30px;
			text-align: center;
		}

			.nav-ul li {
				position: relative;
				display: inline-block;
				width: auto;
				height: 40px;
				padding: 0 20px;
				font-family: 'GothamPro-Medium';
				text-transform: uppercase;
				font-size: 10px;
				list-style: none;
				cursor: pointer;
				transition: .2s ease;
			}

				.nav-ul li.active a {
					color: rgba(255,255,255,1);
				}
 
				.nav-ul li a {
					display: block;
					line-height: 22px;
					cursor: pointer;
					text-decoration: none;
					color: rgba(255,255,255,0.7);
					transition: .2s ease;
				}