//Mode: smartphones
@smartphone: 320px;
@smartphone-landscape:480px;

//mode: ipads
@ipad-min : 768px;
@ipad-max : 1024px;

@desktop-max : 1224;
@large-screen : 1824px;

// Mode: Tablet
@tablet: 768px;
@tablet-area: 750px;

// Mode: Desktop
@desktop: 1024px;
@desktop-area: 970px;

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */
}

.main-wrap {
  padding-left: 15px;
  padding-right: 15px;
}

.nav span.logo{
  padding-left: 15px;
}

.button-add{
  margin-right: 37.5px;
  margin-left: 0;
}

.features-inner{
  width: 100%;
  min-height: auto;
}

footer span {
  text-align: center;
}

.features-new span {
  width: 136.5px;
  left: -40px;
}

.features-new {
  padding-left: 125.5px;
}

.features-inner div {
  height: inherit;
  padding-right: 10%;
}

.features-image.small{
  //padding-left: 0;
  padding: 0;

  img{
    //margin: 50px auto;
    //width: 30%;
  }
}

.price-inner a {
  margin-left: 0;
  margin-right: 0;
}

.features-image.small2 img{
  margin: 50px 50px 50px auto;
  width: 50%;
}

.features-navigation {
  top: calc(~"100% / 2 - 30px");
}

.features-image .graphic-image img{
  display: block;
  margin-top: 50px;
  width: 70%;
  height: auto;
}

.features-text-bottom{
  padding-left: 10%;
  margin: 0 auto;
}

.works-inner{
  overflow: overlay;
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : @tablet)
and (max-width : @desktop) {

  .features-image.small img {
    margin: 50px auto;
  }

  .features-inner div {
    width: 100%;
    min-height: 115px;
  }


}
@media only screen and
(max-width : @desktop){
  .works-inner{
    width: 100%;
  }

  .features-text {
    padding: 40px 25px 0 25px;
  }

  .features-inner::before {
    width: 60%;
    left: 50%;
    margin-left: -30%;
  }
  .features-prices{
    width: 100%;
  }
  .footer-inner{
    width: 100%;
  }

  .features-prices--div{
    margin: 0 auto !important;
    float: inherit;
  }
}

@media only screen
and (max-width:@tablet){

  .works-clients--client{
    width: 50%;
    padding: 30px 0;
  }

  .works-inner {
    padding: 25px 0;
  }

  .features-inner div {
    width: 100%;
    min-height: 240px;
  }

  .features-new span{
    width: 100px;
    left: -5px;
    font-size: calc(~"1em + 5vh");
  }

  .features-image.small img {
    margin: 50px auto;
  }

  .main{
    background-size: inherit;
    background-position: center;
  }
  .graphic-image {
    display: none !important;
  }

  .main-wrap{
    height: 100vh;
    //padding: 70px 0;
    padding-top: 70px;
  }

  footer span{
    width: 100%;
    margin: 0 auto;
    left: inherit;
    position: absolute;
  }

}
