
<head>
  <!-- Made By Automato Team.
    All rights reserved. -->
  <!--
      <base href="/"> -->
  <meta name="fragment" content="!">
  <meta name="robots" content="index, follow">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Automato | CRM System</title>

  <!--<link rel="icon" type="image/png" href="favicon.png"/>-->

  <!-- Styles -->
  <!--<link href="../../stylesheets/all.css" rel="stylesheet">-->
</head>

<body ng-cloak ng-controller="MainCtrl as vm">


<nav class="nav">
  <section>
			<span class="logo">
				<img src="assets/images/logonew.svg">
				<span>Automato CRM</span>
			</span>
  </section>
</nav>

<main class="main">
  <div class="main-wrap">
			<span class="main-heading">
				Автоматизация работы с клиентами,<br>
				безопасное хранение и управление сделками
				<span>Важно напоминать о себе в нужное время по нужному каналу,<br>
				будь то sms, email или звонок. Automato сделает это за вас сама.<br>
        Осталось <span style="font-size: 2em;display: inline;">{{ vm.count }}</span> бесплатных годовых аккаунтов</span>


				<a class="button button-add button-add--try" ng-click="vm.scroll()"><i class="icon-arrow-down"></i>Узнать больше</a>
				<a onclick="yaCounter38453660.reachGoal('TRIAL'); return true;" class="button button-add button-add--task" href="http://app.automato.me/signup"><i class="icon-check"></i>Попробовать</a>
			</span>
  </div>
</main>

<section class="features" id="more">
  <div class="features-inner clearfix">
			<span class="features-titleing">
				Ваши клиенты нуждаются<br>
				в вашем внимании
			</span>
    <div class="features-text">
				<span class="features-new">
					<span>2x</span>
					увеличиваются продажи, если контактировать с клиентом в течении первой недели после обращения.
				</span>

				<span class="features-new">
					<span>82%</span>
					клиентов делают повторные покупки,<br> если компания использует email<br> маркетинг.
				</span>

				<span class="features-new">
					<span>94%</span>
					клиентов становятся более лояльными, если компания поздравляет их с праздниками по sms.
				</span>
    </div>


    <div class="graphic-image features-image small ">
      <img src="assets/images/Graph.png">
    </div>
  </div>

  <!-- slider -->
  <div style="position: relative;">
    <div class="features-inner clearfix" ng-repeat="work in vm.works track by $index" ng-if="vm.isCurrentSlideIndex($index)">
      <div class="features-image small small2">
        <img src="{{work.img}}">
      </div>

      <div class="features-text">
					<span class="features-title">
						{{work.title}}
						<span>{{work.sub}}</span>
					</span>
      </div>
    </div>

    <section class="features-navigation">
      <a class="back" ng-click="vm.prev()"><img src="assets/images/navigate_before.svg"></a>
      <a class="forward" ng-click="vm.next()"><img src="assets/images/navigate_next.svg"></a>
    </section>
  </div>

  <div class="features-inner clearfix" id="feature">
			<span class="features-titleing">
				Тарифы
			</span>
    <section class="features-prices">
      <section class="features-prices--div clearfix">
        <span class="type">Light</span>
        <section class="price-inner">
						<span class="price-inner--price">
							$ 15
							<span>в месяц</span>
						</span>
          <p>до 1000 контактов</p>
          <p>до 10-ти менеджеров</p>
          <p>5000 отправленных email'ов</p>
          <p>50 sms</p>

          <a onclick="yaCounter38453660.reachGoal('LIGHT'); return true;" class="button button-add button-add--price" href="http://app.automato.me/signup"><i class="icon-check"></i>Попробовать</a>
        </section>
      </section>

      <section class="features-prices--div clearfix">
        <span class="type std">Standart</span>
        <section class="price-inner">
						<span class="price-inner--price bus">
							$ 30
							<span>в месяц</span>
						</span>
          <p>до 5000 контактов</p>
          <p>до 20-ти менеджеров</p>
          <p>10000 отправленных email'ов</p>
          <p>150 sms</p>
          <a onclick="yaCounter38453660.reachGoal('STANDART'); return true;" class="button button-add button-add--price" href="http://app.automato.me/signup"><i class="icon-check"></i>Попробовать</a>
        </section>
      </section>

      <section class="features-prices--div clearfix">
        <span class="type bus">Business</span>
        <section class="price-inner">
						<span class="price-inner--price std">
							$ 59
							<span>в месяц</span>
						</span>
          <p>неограниченное количество контактов</p>
          <p>неограниченное количество менеджеров</p>
          <p>100 000 отправленных email'ов</p>
          <p>500 sms</p>
          <a onclick="yaCounter38453660.reachGoal('BUSINESS'); return true;" class="button button-add button-add--price" href="http://app.automato.me/signup"><i class="icon-check"></i>Попробовать</a>
        </section>
      </section>
    </section>
  </div>

</section>


<section class="works clearfix">
  <div class="works-inner">
			<span class="works-title">
				Клиенты
			</span>
    <div class="works-clients">
				<span ng-repeat="client in vm.clients track by $index" class="works-clients--client">
					<img src="{{client.img}}">
				</span>
    </div>
  </div>
</section>


<section class="footer">
  <div class="footer-inner">
			<span class="footer-title">
				Лучшее решение автоматизации и управления<br>
				вашим бизнесом
			</span>
			<span class="footer-try">
				<span>Попробуйте Automato CRM 365-дней бесплатно</span>
				<a onclick="yaCounter38453660.reachGoal('TRIAL'); return true;" class="button button-add button-add--price" href="http://app.automato.me/signup"><i class="icon-check"></i>Попробовать</a>
			</span>
  </div>
  <footer>
			<span>© 2016 ТОО “Automato”. Все права защищены.<br>
				<i><a href="private.pdf" style="color: inherit;text-decoration: none;">политика конфиденциальности</a></i>
			</span>
  </footer>
</section>



<!-- js -->


